html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#app {
  width: 100%;
  height: 100%;

  background: #212121;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);  
}
.doors {
  display: flex;
}

.door {
  background: #fafafa;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset;

  width: 100px;
  height: 150px;
  overflow: hidden;

  border-radius: 1ex;
  margin: 1ch;
}

.boxes {
  /* transform: translateY(0); */
  transition: transform 1s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
}

.buttons {
  margin: 1rem 0 2rem 0;
}

button {
  cursor: pointer;

  font-size: 1.2rem;
  text-transform: uppercase;

  margin: 0 0.2rem 0 0.2rem;
}

.info {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: none;
}
.winner {
    height: 2.2rem;
}
.text {
    color: #fff;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    /* transform: translateY(0); */
    transition: transform 5s ease-in-out;
}
.hidden {
  display: none;
}
.page {
  display: none;
  position: absolute;
  top: 70px;
  width: 100%;
  height: 100vh;
  padding: 8px;
  background-color: rgb(255, 255, 255);
}
.page-active {
  display: block;
}

#participants > div {
  color: rgb(0, 0, 0);
   display: flex;
   padding: 2%;
   background-color: rgb(255, 255, 255);
   height: 80vh;
   overflow-y: scroll;
}

#participants th {
  top: 0;
  position: sticky;
  background: #37005a;
  color: rgb(252, 251, 251);
}

nav{
  width: 100%;
  height: 70px;
  background-color: #0022ffd2;
  line-height: 50px;
  position: absolute;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul{
  /* float: right; */
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:#088;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 20px;
}
nav ul li a.active{
  border-bottom: 4px solid #088;
}


/* Slideshow container */
.slideshow-container {
  position: absolute;
  top: 0px;
  background: #ffffffef;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

/* Slides */
.slide {
  display: none;
  padding: 0px;
  text-align: center;
  font-size: 48px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}